<!DOCTYPE html>

 <html>
  <head>
   <link href="css/BootStrap/bootstrap.min.css" rel="stylesheet">

    <!-- Plantillas de CSS personalizadas -->
    <link href="css/login.css" rel="stylesheet">

    <!-- Javacript -->
    <script src="js/JQuery/jquery-1.10.2.min.js"></script>
    <script src="js/BootStrap/bootstrap.min.js"></script>
  </head>

  <body vlink = "#000000">

<section ng-controller="ExampleController">
  <div ng-show="!authentication.user">
  <!-- Menu de navegación -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #373737;">
      <div class="container">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">proyecto</a>
        </div>
        
        <!-- Accesos directos de la barra de navegación -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="./about.html">Acerca de nosotros</a>
            </li>
            <li>
              <a>Servicios</a>
            </li>
            <li>
              <a href="./contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Submenu de navegación -->
    <nav class="navbar" role="navigation" style="background-color: #dadada;">
      <div class="container">
        
        <!-- Accesos directos de la barra de navegación -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a onclick="panel_lateral('acceso')" href="/signup"> Registarse</a>
            </li>
            <li>
              <a onclick="panel_lateral('registro')" href="/signin">Identificarse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div ng-show="authentication.user">
  <center> <h1> Hola <span ng-bind="authentication.user.fullName"> </span></h1> </center>
    <ul>
    <br><br><br>
      <li><a href="/#!/articles">Listar categoria</a></li>
      <li><a href="/#!/articles/create">Crear categoria</a></li>
      <li><a href="/#!/articles/recomendacion">Recomendacion</a></li>
    </ul>
    <a href="/signout">Cerrar Sesión</a>
  </div>
</section>
</body>
</html>